# CODEOWNERS — Tracelt Team Miracle 

# Backend — Lead Backend
/backend/                @intniaaa20

# Frontend — Lead Frontend
/frontend/               @yosanpratiwi

# Docker & Infrastructure — Lead DevOps
docker-compose.yml       @Avhilla
/backend/Dockerfile      @Avhilla
/frontend/Dockerfile     @Avhilla
Makefile                 @Avhilla

# Documentation — Lead QA & Docs
README.md                @Betran23
/docs/                   @Betran23

# CI/CD (jika 5 orang) — Lead CI/CD
 /.github/workflows/     @10231025