# Database
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cloudapp

# JWT
SECRET_KEY=b4ad919e11682d433206258dc4883f99c54bb134e678aeb6c10d5e5a044a1dd0
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173