# Dokumentasi 10 Test Case

<div align="justify">

### 1️⃣ Cek Status API ✅

<img src="Screenshot 2026-03-15 160027.png" alt="alt text" width="400" />

Status Menunjuakkan API Connected. Status yang menunjukkan aplikasi sedang tersambung dengan layanan backend, sehingga komunikasi data antara tampilan dan server berjalan dengan baik.
<br><Br>

### 2️⃣ Cek List Barang ✅

<img src="Screenshot 2026-03-15 191934.png" alt="alt text" width="400" />

Fitur manajemen daftar barang berjalan dengan baik: sistem berhasil menampilkan data item.
<br><Br>

### 3️⃣ & 4️⃣ Tambah barang via Form (Include Tampilan) ✅

<img src="image-9.png" alt="alt text" width="400" />

Menunjukkan Bahwa barang yang baru saja ditambahkan dapat tertampil di List barang
<br><br>

### 5️⃣ & 6️⃣ Fungsi Edit ✅

<img src="image-10.png" alt="alt text" width="400" />

<img src="image-11.png" alt="alt text" width="400" />

Gambar menunjukkan ketika menekan tombol Edit maka akan tertampil data lama dan Dapat di perbaharui

<br><br>

### 7️⃣ Fitur mencari Item ✅

<img src="image-12.png" alt="alt text" width="400" />

Gambar menunjukkan saat mencari barang di kolom SearchBar dan mencari Handphone maka akan menampilkan handphone saja di List Barangnya
<br><br>

### 8️⃣ & 9️⃣ Menghapus Item ✅

<img src="image-13.png" alt="alt text" width="400" />

<img src="image-14.png" alt="alt text" width="400" />

Gambar menunjukkan ketika menekan tombol delete maka akan menampilkan dialog konfirmasi untuk menghapus. Dan Item tidak akan tertampil di list barang
<br><br>

### 🔟 Empty State ✅

<img src="image-15.png" alt="alt text" width="400" />

Menunjukkan ketika semua barang yg ada di list dihapus maka akan menampilkan state berikut

</div>